Lab8/Pipeline 1.json
{
    "name": "Pipeline 1",
    "properties": {
        "activities": [
            {
                "name": "Web1",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "https://asakeyvaultic6nl8d.vault.azure.net/secrets/PipelineSecret/fc0f5e60ac2f4e5b92fbe8c65d1bf83a?api-version=7.1",
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            },
            {
                "name": "Set variable1",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Web1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "SecretValue",
                    "value": "@activity('Web1').output.value"
                }
            }
        ],
        "variables": {
            "SecretValue": {
                "type": "String"
            }
        },
        "annotations": []
    }
}